this is to create tables in our test warehouse

In [47]:
import pandas as pd
import dotenv
from pg8000 import Connection
import os

In [107]:
def connect():
    dotenv.load_dotenv()
    dbuser = os.environ["DBUSER"]
    dbhost = os.environ["HOST_WH"] #
    database = os.environ['DBNAME_WH'] #
    password = os.environ['PASSWORD_WH'] #["PASSWORD_WH"]
    port = os.environ['PORT']
    db = Connection(database=database, user=dbuser, password = password, host = dbhost, port = port)
    return db

In [ ]:
#### SELECT ALL

db = connect()
query = ""
for table_name in  ['dim_date', 'dim_location', 'dim_design', 'dim_staff', 
    'dim_currency', 'dim_counterparty', 'fact_sales_order']:
    query += f"SELECT * FROM {table_name} LIMIT 3;"
    result = db.run(query)

print(query)

result = db.run(query)
print(result)
db.close()

SELECT * FROM dim_date LIMIT 3;SELECT * FROM dim_location LIMIT 3;SELECT * FROM dim_design LIMIT 3;SELECT * FROM dim_staff LIMIT 3;SELECT * FROM dim_currency LIMIT 3;SELECT * FROM dim_counterparty LIMIT 3;SELECT * FROM fact_sales_order LIMIT 3;
([datetime.date(2022, 11, 3), 2022, 11, 3, 3, 'Thursday', 'November', 4], [datetime.date(2022, 11, 4), 2022, 11, 4, 4, 'Friday', 'November', 4], [datetime.date(2022, 11, 7), 2022, 11, 7, 0, 'Monday', 'November', 4], [1, '6826 Herzog Via', '<NA>', 'Avon', 'New Patienceburgh', '28441', 'Turkey', '1803 637401'], [2, '179 Alexie Cliffs', '<NA>', '<NA>', 'Aliso Viejo', '99305-7380', 'San Marino', '9621 880720'], [3, '148 Sincere Fort', '<NA>', '<NA>', 'Lake Charles', '89360', 'Samoa', '0730 783349'], [1, 'Wooden', '/lib', 'wooden-20201128-jdvi.json'], [2, 'Steel', '/etc/periodic', 'steel-20210725-fcxq.json'], [3, 'Steel', '/System', 'steel-20210621-13gb.json'], [1, 'GBP', 'British pound'], [2, 'USD', 'US dollar'], [3, 'EUR', 'Euro'], [1, 'Fahey and Sons', '605 Haskell Trafficway', 'Axel Freeway', '<NA>', 'East Bobbie', '88253-4257', 'Heard Island and McDonald Islands', '9687 937447'], [2, 'Leannon, Predovic and Morar', '079 Horacio Landing', '<NA>', '<NA>', 'Utica', '93045', 'Austria', '7772 084705'], [3, 'Armstrong Inc', '179 Alexie Cliffs', '<NA>', '<NA>', 'Aliso Viejo', '99305-7380', 'San Marino', '9621 880720'])

In [141]:
### DELETE ALL

db = connect()
query = ""
for table_name in  ['dim_date', 'dim_location', 'dim_design', 'dim_staff', 
    'dim_currency', 'dim_counterparty','fact_sales_order']:
    query += f"DELETE FROM {table_name};"
print(query)
db.run(query)
db.close()

DELETE FROM dim_date;DELETE FROM dim_location;DELETE FROM dim_design;DELETE FROM dim_staff;DELETE FROM dim_currency;DELETE FROM dim_counterparty;DELETE FROM fact_sales_order;

In [143]:
### 
#### SELECT ALL

db = connect()
query = ""
for table_name in  ['dim_counterparty']:
    query += f"SELECT * FROM {table_name} LIMIT 3;"

db.run(query)

()